@model IEnumerable<WebApplication1.Models.Concelho>
@{
}


    <h1></h1>

<script src="~/Scripts/maputil.js"></script>
<script src="~/Scripts/mapper.js"></script>
<script src="~/Scripts/jquery-1.10.2.js"></script>
<style>
    section {
    width: 80%;
    height: 200px;
    background: aqua;
    margin: auto;
    padding: 10px;
}
div#map {
    width: 40%;
    height: 200px;
    background: red;
    float: left;
}
div#right-pane {
    margin-left: 60%;
    height: 200px;
}

</style>
<div id="map"class="demo">
    <img id="map" src="@Url.Content("~/Images/" + @ViewBag.Title + ".jpg")" border="0" alt="Portugal" usemap="#@ViewBag.Title" />
</div>
<div id="right-pane" class="right-pane">
    <h2 id="title">LOL</h2>
    <br />
    <p id="description">

        @foreach (var concelho in Model)
        {
            <h2 id="nome">
                @concelho.Nome
            </h2>
            <p id="desc">
                @concelho.Descricao
            </p>
        }
</div>

<map name="@ViewBag.Title">
    <area alt="Viana do Castelo" title="Viana do Castelo" href="#" shape="poly" coords="4,358,21,364,30,371,33,367,32,361,34,352,43,350,52,352,61,349,66,347,67,355,77,350,84,354,84,358,93,357,93,350,91,336,97,329,102,326,111,328,116,334,120,333,125,330,129,329,143,336,146,339,146,349,145,358,143,366,139,374,137,377,141,384,149,394,153,405,163,418,163,423,162,430,163,436,167,437,170,437,173,440,177,448,180,456,177,458,175,464,169,466,169,470,175,474,179,498,175,508,176,521,173,525,168,523,167,516,165,516,160,514,156,515,146,514,135,518,132,522,124,520,120,522,118,527,115,532,111,535,105,538,100,532,95,532,94,536,95,539,92,541,77,540,65,546,58,548,51,543,45,530,45,518,40,510,43,498,37,475,31,472,14,450,11,438,7,429,4,426,3,417,0,405,3,396,2,389,6,381,9,373,6,364" onclick="getInfo(1)">
    <area alt="Ponte de Lima" title="Ponte de Lima" href="#" shape="poly" coords="179,500,176,474,169,470,169,466,174,466,178,458,180,457,175,442,171,440,169,436,165,437,162,435,162,421,154,407,151,396,137,379,140,375,145,363,146,337,155,328,153,316,157,306,163,307,166,301,171,296,175,294,188,306,197,304,201,301,203,297,205,291,210,288,216,289,223,292,230,288,237,284,242,284,245,289,252,292,259,292,271,299,267,312,267,323,269,330,271,334,273,338,271,343,272,350,275,352,275,361,278,363,282,360,291,364,306,360,309,366,309,370,308,374,302,378,302,381,308,386,311,391,311,397,310,402,309,406,307,410,312,416,317,422,316,426,309,425,300,427,298,416,292,414,287,418,283,426,274,430,279,435,274,460,272,476,260,476,260,484,254,486,253,492,261,508,257,518,258,526,244,536,237,531,228,514,221,514,209,523,207,518,189,513,190,505" />
</map>

<script>
    function getInfo(IdConcelho) {
        if (IdConcelho == 1) {
            //$("#title").html("@ViewBag.Title");
            //$("#description").html("@ViewBag.Title");
        }

    }

</script>